<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-cn">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>论坛</title>
	<meta name="keywords" content="关键字列表" />
	<meta name="description" content="网页描述" />
	<link rel="stylesheet" type="text/css" href="<?php echo DIR_STYLE;?>css/public.css" />
	<link rel="stylesheet" type="text/css" href="<?php echo DIR_STYLE;?>css/list.css" />
	<style type="text/css"></style>
	<script type="text/javascript"></script>
</head>
<body>
	<div class="header_wrap">
		<div id="header" class="auto">
			<div class="logo">论坛</div>
			<div class="nav">
				<a href="../model/index.php" class="hover">首页</a>
			</div>
			<div class="serarch">
				<form action="../model/list_sereach.php" method="GET">
					<input class="keyword" type="text" name="keyword" placeholder="搜索其实很简单" />
					<input class="submit" type="submit" name="submit" value="" />
				</form>
			</div>
			<div class="login">
				<?php 
				session_start();
				if(isset($_SESSION['userInfo'])&&isset($_COOKIE['user_id'])){
					echo "欢迎你,",$_SESSION['userInfo']['user_name'];
					echo '<a href="../model/upload_image.php">上传头像</a>';
				}else{
					echo '<a href="../model/login.php">登录</a>&nbsp;';
					echo '<a href="../model/register.php">注册</a>';
					
				}
			?>	
				<a href="../model/logout.php">注销</a>
			</div>
		</div>
	</div>
	<div style="margin-top:55px;"></div>
	<div id="position" class="auto">
		 <a>首页</a> &gt; <a>NBA</a>
	</div>
	<div id="main" class="auto">
		<div id="left">
			<div class="box_wrap">
				<h3>NBA</h3>
				<div class="num">
				    
				  <div class="moderator"> 子版块： <a>NBA</a> <a>CBA</a></div>
				</div>
				<div class="pages_wrap">
					<a class="btn publish" href=""></a>
					<div class="pages">
						<?php echo $strPage;?>
					</div>
					<div style="clear:both;"></div>
				</div>
			</div>
			<div style="clear:both;"></div>
			<ul class="postsList">
				<?php while($row = $result->fetch(PDO::FETCH_ASSOC)) : ?>
					<?php 
						$rep_sql = "select max(rep_time) as last_time,count(*) as rep_num from reply where rep_pub_id = {$row['pub_id']}";
						$rep_row = $pdo->query($rep_sql)->fetch(PDO::FETCH_ASSOC);
						$last_time = $rep_row['last_time'];
						$rep_num = $rep_row['rep_num'];
					?>
				<li>
					<div class="smallPic">
						<a href="#">
							<img width="45" height="45" src="../uploads/images/<?php echo $row['user_image'];?>">
						</a>
					</div>
					<div class="subject">
						<div class="titleWrap"><a href="#">[分类]</a>&nbsp;&nbsp;<h2><a href="./show.php?pub_id=<?php echo $row['pub_id']; ?>"><?php echo $row['pub_title']; ?></a></h2></div>
						<p>
							楼主：<?php echo $row['pub_owner']; ?>&nbsp;<?php echo date('Y-m-d H:i:s',$row['pub_time']); ?>&nbsp;&nbsp;&nbsp;&nbsp;最后回复：<?php echo $rep_num==0?'暂无':date('Y-m-d H:i:s',$last_time);?>
						</p>
					</div>
					<div class="count">
						<p>
							回复<br /><span><?php echo $rep_num?></span>
						</p>
						<p>
							浏览<br /><span><?php echo $row['pub_hits']; ?></span>
						</p>
					</div>
					<div style="clear:both;"></div>
				</li>
				<?php endWhile; ?>

			</ul>
			<div class="pages_wrap">
				<a class="btn publish" href=""></a>
				<div class="pages">
					 <?php echo $strPage;?>
				</div>
				<div style="clear:both;"></div>
			</div>
		</div>
		<div id="right">
			<div class="classList">
				<div class="title">版块列表</div>
				<ul class="listWrap">
					<li>
						<h2><a href="#">NBA</a></h2>
						<ul>
							<li><h3><a href="#">乔丹</a></h3></li>
							<li><h3><a href="#">科比</a></h3></li>
							<li><h3><a href="#">库里</a></h3></li>
						</ul>
					</li>
					<li>
						<h2><a href="#">CBA</a></h2>
					</li>
				</ul>
			</div>
		</div>
		<div style="clear:both;"></div>
	</div>
	<div id="footer" class="auto">
		<div class="bottom">
			<a>论坛</a>
		</div>
		
	</div>
</body>
</html>

